@import "tailwindcss";

@theme {
  --color-primary: #266431;
  --color-typography: #224945;
  --color-accent: #ccefe0;
  --color-neutral: #f8f8f8;
  --color-complementary: #f5b748;
  --color-alert: #ff6f4c;

  --font-poppins: "Poppins", sans-serif;
}

@layer components {
  .heading-text {
    @apply text-[24px] font-bold text-primary font-poppins;
  }
  .normal-text {
    @apply font-poppins text-xl text-typography;
  }

  .cta-text {
    @apply font-poppins text-primary font-bold;
  }

  .label-text {
    @apply my-4 text-[20px] font-poppins text-typography;
  }

  .icon {
    @apply text-primary font-bold;
  }

  .primary-button {
    @apply w-[324px] h-14 my-4 rounded-[10px] bg-primary font-poppins text-2xl font-semibold text-white;
  }

  .input-field {
    @apply w-[324px] h-14  mb-6 rounded-[10px] px-3 bg-neutral font-poppins text-base;
  }
}
